@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
    {
        font-family: 'Montserrat', sans-serif;

    }

    a {
        text-decoration: none;
        color: black;
        padding: 0;
        margin: 0;
    }


    input {
        max-height: 40px;
        border: none;
        border-radius: 8px;
        padding-left: 10px;
        height: 15%;
    }

@media screen and (max-width: 500px) {
    input {
        max-height: 40px;
        border: none;
        border-radius: 8px;
        padding-left: 10px;
        height: 15%;
    }
    .back {
        background-color: black;
        font-size: 16px;
        color: white;
        border-radius: 16px;
        max-width: 85px;
        text-align: center;
        margin: 0 auto;
        margin-top: 15.5%;
        padding: 2% 3.22%;
        margin-bottom: 8%;
    }

    .kvadr {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 11%;

    }

    .koef {
        text-align: center;
        font-size: 20px;
        margin-bottom: 8%;
    }
    #aa {
        display: flex;
        background: #D9D9D9;
        border-radius: 16px;
        font-size: 30px;
        flex-direction: row;
        align-items: center;
        max-height: 50px;
        max-width: 290px;
        margin: 0 auto;
        margin-bottom: 2.5%;
    }
    #aa .a {
        margin: 6% 6%;
    }

    #aa .aa {
        
        border: none;
        border-radius: 8px;
        padding: 3% 5%;
    }
    .btnres {
        font-size: 20px;
        margin-top: 9%;
        margin-left: 11.4%;
        border: none;
        border-radius: 16px;
        background-color: #B96666;
        color: #FFFFFF;
        padding: 3.5% 6%;
    }

    .btn {
        font-size: 20px;
        margin-top: 4.8%;
        margin-left: 11.4%;
        border: none;
        border-radius: 16px;
        background-color: #2E2E2E;
        color: #FFFFFF;
        padding: 3.5% 6%;
        margin-bottom: 6%;
    }
    #answers{
        font-size: 30px;
        margin-left: 10%;
    }

    output {
        font-size: 20px;
        padding: 2.5% 3% ;
        margin-left: 10%;
        width: 50%;
        border: 5px;
        border-radius: 15px;
        border-color: black;
        color: white;
        background-color: #2E2E2E;
    }
    #instr {
        display: none;
    }
}


@media screen  and (min-width:501px) {
    #instr {
        
        position: absolute;
        top: 10%;
        left: 5%;
        background: #D9D9D9;
        border-radius: 16px;
        text-align: center;
        max-width: 270px;
        margin-bottom: 15%;
    }

    #instr .instr {
        font-size: 24px;
        padding: 5% 10%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #instr .palka {
        background: #B7B7B7;
        border-radius: 3px;
        height: 3px;
        max-width: 70%;
        margin: 0 auto;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #instr .text {
        padding-bottom: 20%;
    }

    .back {
        left: 70%;
        position: absolute;
        background-color: black;
        font-size: 16px;
        color: white;
        max-height: 35px;
        border-radius: 16px;
        max-width: 85px;
        text-align: center;
        margin: 0 auto;
        
        padding: 0.7% 1%;
        
    }

    .kvadr {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 4%;

    }

    .koef {
        text-align: center;
        font-size: 20px;
        margin-bottom: 2%;
    }
    #aa {
        display: flex;
        background: #D9D9D9;
        border-radius: 16px;
        font-size: 30px;
        flex-direction: row;
        align-items: center;
        max-height: 50px;
        max-width: 290px;
        margin: 0 auto;
        margin-bottom: 1%;
    }
    #aa .a {
        margin: 6% 6%;
    }

    #aa .aa {
        
        border: none;
        border-radius: 8px;
        padding: 3% 9%;
    }

    .btnres {
        position: absolute;
        font-size: 20px;
        left: 45%;
        border: none;
        top: 45%;
        border-radius: 16px;
        background-color: #B96666;
        color: #FFFFFF;
        padding: 1% 2%;
    }

    .btn {
        position: absolute;
        font-size: 20px;
        left: 45%;
        top: 53%;
        border: none;
        border-radius: 16px;
        background-color: #2E2E2E;
        color: #FFFFFF;
        padding: 1% 2%;
        
    }

    #answers{
        margin: 0 auto;
        font-size: 30px;
        margin-top: 15%;
        margin-left: 40%;
    }

    output {
        font-size: 20px;
        padding: 1% 1.5% ;
        margin-left: 1%;
        width: 50%;
        border: 5px;
        border-radius: 15px;
        border-color: black;
        color: white;
        background-color: #2E2E2E;
    }
}